{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1> {{member.name}} <h1>
      <img src="img/members/{{ member.imagebw }}" class="img-fluid" alt="image of member">
    </div>
    <div class="col-sm-8">
      <p style="margin-bottom-5px"> {{member.text}}</p>
      <p> Background information </p>
        <ul>
          <li>{{member.birthdate}}</li>
          <li> {{member.birthplace}}</li>
          <li>{{ member.tenure }}</li>
          <li> {{ member.instruments }}</li>
        </ul>

    </div>
  </div>
</article>
{% endblock %}
