{% extends "_layouts/base.njk" %}
  {% block jumbotron %}{% endblock %}
{% block page_title %}{{member.name}} | {{ super() }} {% endblock %}
{% block content %}
<html lang="en">
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1> {{member.name}} <h1>
      <img src="img/members/{{ member.imagebw }}" class="img-fluid" alt="image of member">
    </div>
    <div class="col-sm-8">
      <p style="margin-bottom-5px"> {{ member.text | safe}}</p>
      <p> Background information </p>
        <ul>
          <li> Born: {{member.birthdate}}</li>
          <li> Hometown: {{member.birthplace}}</li>
          <li>Years active: {{ member.tenure }}</li>
          <li> Instruments: {{ member.instruments }}</li>
        </ul>

    </div>
  </div>
</article>
</html>
{% endblock %}
