<head>
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<div class="jumbotron jumbotron-fluid" style="background image:(img/queen-rollingstone.jpg)">
  <div class="container">
    <h1 class="display-4">Queen</h1>
    <p class="lead">The band. The legacy.</p>
  </div>
</div>

